body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 600px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #c6c6c6;
}

.logo-img {
  width: 180px;
  height: 70px;
  margin: 10px 0 10px 10px;
}

.user-avatar,
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-avatar {
  margin: 10px 10px 10px 0;
}

/* main section */
.post-head {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
}

/* container for name + location */
.post-head div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
}

/* user name styling */
.user-id {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  margin: 0;
}

/* user location styling */
.user-location {
  font-size: 0.9rem;
  color: #777;
  margin: 2px 0 0;
}

.post-img {
  width: 100%;
}


.icon-heart,
.icon-comment,
.icon-dm {
  width: 5%;
  margin: 1%;
}

.icon-heart:hover,
.icon-heart:focus,
.icon-dm:hover,
.icon-dm:focus,
.icon-comment:hover,
.icon-comment:focus {
  opacity: 0.5;
}

.likes,
.captions {
    margin: 1%;
}

p .likes {
    font-size: 18px;
    font-weight: 600;
}

p .captions {
    font-size: 20px;
}

p .user-name {
    font-weight: 800;
}